# Xcode
build/
DerivedData/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# XcodeGen
GameStream.xcodeproj/

# Swift / SPM
.swiftpm/
Package.resolved
.build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
*.swp
*~

# Secrets / local
.env
*.mobileprovision
*.p12
